body {
  margin-top: 10%;
  margin-left: 10%;
  margin-top: 10%;
}

#banner
{
   width: 100%;
   margin-top: 0.2em;
}
.avatar {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button-block, .signin {
  width: 200px;
}
.signin {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  color: white;
}
#signin-container {
  background-image: url('../assets/eduhackathon.jpg');
  background-size: 100%;

}

.body {
  font-family: Roboto+Condensed;
  font-size: 18px;
}

.td {
    padding: 35px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
