<div id='user-container'>
  <div class='username'> 
    <a href="{{user.url}}">{{user.login}}</a>
  </div>

  <img src="{{user.avatar_url}}" class="avatar img-responsive img-circle"></img>


  <div class='location'>
    {{user.location}}
  </div>

  <div class='languages'>
    <h2>Languages</h2>

    <table class='language table'>
      <tr class='language-experience' ng-repeat='(key, value) in user.languages'>
        <td class='language'>
          {{key}}
        </td>
        <td class='bytes'>
          {{value}}
        </td>

      </tr>
    </table>
  </div>

  <div class='technologies'>
    <h2>Technologies</h2>
    <table class='technologies table'>
      <tr class='technology-experience' ng-repeat='(key, value) in user.technologies'>
        <td class='technology'>
          {{key}}
        </td>
        <td class='bytes'>
          {{value}}
        </td>

      </tr>
    </table>
  </div>

  <div class='cred'>
    <h2> Github Cred</h2>
    <table class='cred table'>
      <tr class='notables' ng-repeat='(key, value) in user.bling'>
        <td class='bling'>
          {{key}}
        </td>
        <td class='count'>
          {{value}}
        </td>

      </tr>
    </table>

    <div class='followers'></div>
    <div class='stars'></div>
    <div class='forks'></div>
    <div class='downloads'></div>
    <div class='watchers'></div>
  </div>

  

</div>
